<mat-card-title>Reflections</mat-card-title>
<div class="reflections">
    <div class="ethics">
        <mat-card>
            <div class="title">
                <h3><b>Ethics Reflection</b> - CPR E 394</h3>
                <button class="arrow" mat-icon-button (click)="expandReflection(1)">
                    <mat-icon *ngIf="!isEthicsExpanded">keyboard_arrow_down</mat-icon>
                    <mat-icon *ngIf="isEthicsExpanded">keyboard_arrow_up</mat-icon>
                </button>
            </div>
            <div class="intro">
                <p>
                    Through CPR E 394 I learned that a commitment to an official Code of Ethics is essential in using technology to positively impact the world.
                    Engineers must consult their organization's code of ethics, while reflecting on an ethical issue.
                </p>
                <button mat-button *ngIf="isEthicsExpanded">
                    <mat-icon>picture_as_pdf</mat-icon>
                    <a href="../../assets/docs/ethics.pdf" target="_blank">Open PDF</a>
                </button>
            </div>
            <div class="expanded" *ngIf="isEthicsExpanded">
                <p>
                    Technology should be used to positively impact life throughout the world. This is why
                    following a code of ethics is so important. With being an engineer, you need to commit yourself
                    to the highest ethical and professional conduct. Educating yourself on prior ethical issues will
                    help in knowing how to respond to new ethical situations that may arise. Reflecting upon your
                    personal morals may assist you in upholding righteous decisions.
                </p>
                <p>
                    A code of ethics outlines an organization’s guidelines in regards to honesty, integrity, and
                    professionalism. Organizations create a code of ethics to list their expectations to all members
                    involved within the organization. Following the ethics of the organization or company you work
                    for is expected, since it instills trust within the customers. When faced with an ethical situation
                    it’s important to take it seriously, and consult your company’s code of ethics. Using prior
                    experience, good or bad, will help to make a better informed decision this time around. Also, all
                    of the consequences of your end decision need to be accounted for, to ensure your decision is the
                    ethical one. In class we discussed prior ethical situations, and how the given companies handled
                    them. Through these situations I realized that companies don’t always uphold their code of
                    ethics, as seen with the Ford Pinto issue. Ford realized prior to shipment that the car was
                    susceptible to catching fire when rear-ended at speeds over 20 miles per hour. They decided to go
                    ahead with the shipments, as they calculated that it would be cheaper to deal with consequences,
                    than it would be for the engineers to actually fix the problem. This unethical decision led to the
                    death of a driver in a Ford Pinto not long after.
                </p>
                <p>
                    The class discussion on ethics seemed pretty united. Everyone upheld the IEEE Code of
                    Ethics when posting their responses to the given ethical situation examples. Although I agreed
                    with all the responses given by the class, there is a possibility that certain situations can bring
                    with it a variety of decisions. One of the ethical situations that I read about involved the police
                    wanting to get Amazon to hand over data recorded by an Amazon Echo that may help with their
                    murder investigation. While I believe consumer privacy is most important, even in police
                    investigations, I could see there being an differing view to mine. When considering how the
                    Virtue of Ethics applies to this situation, I believe that the three most applicable virtues are
                    responsibility, honesty, and integrity. Amazon's responsibility in this situation is to keep
                    consumer privacy as their number one priority. In doing so, consumers will see the company as
                    having integrity and honesty, since they didn’t go against their ethics. The other three virtues that
                    don’t apply as much in this situation include fidelity, charity, and self-discipline.
                </p>
                <p>
                    Throughout life there will be situations that arise in which an ethical decision will need to
                    be made. Consulting your organization’s or company’s code of ethics should be your first step in
                    the process, as well as considering prior ethical situations, and how they were handled. All of the
                    consequences that will come as a result of the decision should be considered to help ensure the
                    final decision is the moral one.
                </p>
            </div>
        </mat-card>
    </div>
    <div class="gen-ed">
        <mat-card>
            <div class="title">
                <h3><b>General Education Reflection</b> - CPR E 494</h3>
                <button class="arrow" mat-icon-button (click)="expandReflection(2)">
                    <mat-icon *ngIf="!isGenExpanded">keyboard_arrow_down</mat-icon>
                    <mat-icon *ngIf="isGenExpanded">keyboard_arrow_up</mat-icon>
                </button>
            </div>
            <div class="intro">
                <p>
                    During CPR E 494 I took a chance to reflect back on all the general education courses I've taken during my college journey.
                    General education courses help to build a better well-rounded student. Several general education courses suprised me with the amount of interest I gained for them.
                </p>
                <button mat-button *ngIf="isGenExpanded">
                    <mat-icon>picture_as_pdf</mat-icon>
                    <a href="../../assets/docs/gen-ed.pdf" target="_blank">Open PDF</a>
                </button>
            </div>
            <div class="expanded" *ngIf="isGenExpanded">
                <p>
                    The past few years here at Iowa State have involved many STEM-oriented classes, however, there also have been a variety of general education classes mixed in, to help better build me all around. 
                    Some general education classes genuinely surprised me with how interesting and engaging they were. I’m going to highlight the main general education courses that I benefited from most, and how these classes still helped to shape me into the engineer I am today.
                </p>
                <p>
                    The first two general education classes I took were during my senior year of high school through my local community college. These courses transferred in for credits for SP CM 212 and PSYCH 101. 
                    The public speaking course was taken online, which was interesting. Looking back now, I feel like I should’ve taken this class in person, and I find it strange that this course is even offered as an online section. 
                    One area I still struggle with is public speaking, and taking this class online didn’t do as much help for me as taking it in person might have. Next, even though the material from the Psychology class isn’t directly important for my degree, it really helped me understand the college workload and prepare me for college at Iowa State. 
                    This class was quite homework-heavy, which ended up being a great thing for me because it taught me the importance of time management. One of the best habits I learned from this class was to start assignments when they are given, rather than waiting until near the due date. This is the best tip I could give to incoming college students.  
                </p>
                <p>
                    During my time at Iowa State, I’ve taken several general education classes, including AGRON 342, RUS 375, ENT 201, and ECON 101. I mentioned before about being surprisingly interested in some of the general education classes, and the main one that was true for me was RUS 375. 
                    Going into this class, I had no intention of being interested in the history of Russia. However, the Russia-Ukraine war started near the time I took this class. This sparked an interest in the country’s leadership for me. 
                    Learning about the history of the different leaders of the Soviet Union and Russia helped me better understand what led up to the current war. Classes like these help to open your eyes to the world as a whole, and how every country has such a unique past that has influenced how they have gotten to the place they are now.
                </p>
                <p>
                    As I look forward, past college, I reflect on how these past several years have changed who I am as a person overall. I am glad Iowa State has these general education requirements for engineering degrees. Taking these classes, alongside my core classes, has really helped me to mature and learn about a variety of issues. 
                    Working to increase your knowledge in several different categories is very important to becoming a better, well-rounded person overall. Once I find and begin a full-time job, I will be solving engineering problems each and every day. 
                    Although my engineering classes will have had the biggest impact on my ability to solve these problems, the general education classes will have a big impact on the rest of my work life. 
                </p>
            </div>
        </mat-card>
    </div>
    <div class="cumulative">
        <mat-card>
            <div class="title">
                <h3><b>Cumulative Reflection</b> - CPR E 494</h3>
                <button class="arrow" mat-icon-button (click)="expandReflection(3)">
                    <mat-icon *ngIf="!isCumulativeExpanded">keyboard_arrow_down</mat-icon>
                    <mat-icon *ngIf="isCumulativeExpanded">keyboard_arrow_up</mat-icon>
                </button>
            </div>
            <div class="intro">
                <p>Add basic intro information here.</p>
                <button mat-button *ngIf="isCumulativeExpanded">
                    <mat-icon>picture_as_pdf</mat-icon>
                    <a href="../../assets/docs/cumulative.pdf" target="_blank">Open PDF</a>
                </button>
            </div>
            <div class="expanded" *ngIf="isCumulativeExpanded">
                <p></p>
            </div>
        </mat-card>
    </div>
</div>
