<mat-card-title>Senior Design</mat-card-title>
<div class="senior-design">
    <mat-card>
        <h3><b>Utilize Generative AI to Assess Student Learning</b></h3>
        <h5>The Problem</h5>
        <li>Create faster personalized exams for class topics</li>
        <li>Need a process that allows for educators to get more indepth reasoning behind students answers in exams</li>
        <li>Create an automatic grading system to assess learning via AI chat bot</li>
        <h5>The Requirements</h5>
        <li>Based on given information of a topic, be able to “quiz” a student and assess his/her thought process</li>
        <li>Implement the generative AI into Microsoft teams or Canvas</li>
        <li>Maintain Ethical practices for student data and responses</li>
        <li>Chat-GPT 4 since allows for file upload</li>
        <li>Have high availability</li>
        <h5>Intended Users and Uses</h5>
        <li>Both students and professors will benefit from the Generative AI</li>
        <li>Students will benefit in their studying from a personalized learning tool built specifically for the specific course</li>
        <li>Professors will benefit through increased efficiency brought with the AI tools for grading purposes</li>
        <p>
            It will also assist professors in being able to access true understandings of topics going past just right and wrong answers.
            As for how they will use it, professors will input class material into the AI, in which the AI will analyze and generate a series of questions to test the understanding of the students. Students will have an interactive exam, in which they will receive feedback and further questions to examine their understanding on the given class material.
        </p>
        <h5>My Role</h5>
        <li>Python & Javascript Full-Stack Software Development</li>
        <li>Push contributions to shared GitLab</li>
        <h5>Skills/Knowledge Gained</h5>
        <li>Created a project alongside a team and client</li>
        <li>Helped to better understand all of the steps involved in delivering a product</li>
        <li>Learned Python syntax, while doing full-stack development</li>
        <li>Experience with prompt engineering</li>
        <h5>Big Picture Contribution</h5>
        <div class="bottom">
            <p>
                The project's beginning has involved a lot of research into prompt engineering.
                Configuring the AI to do exactly the intended job involves fine-tuned custom instructions. 
                Over the next semester, we will be developing a "middle-man" application that will create an AI prompt using these preset custom instructions to administer and grade a quiz for a specified course.
            </p>
        </div>
    </mat-card>
</div>
