<mat-card-title>Projects</mat-card-title>

<div class="project">
  <mat-card *ngFor="let project of projects; let i = index">
    <div class="title">
      <h3> {{ project.title }} </h3>
      <button mat-icon-button (click)="expandProject(i)" *ngIf="doesProjectExpand(i)">
        <mat-icon *ngIf="!project.isExpanded">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="project.isExpanded">keyboard_arrow_up</mat-icon>
      </button>
    </div>
    <p> {{ project.description }} </p>
    <div class="expansion" *ngIf="project.isExpanded">
      <span *ngIf="project.details">Brief Description:</span>
      <li *ngFor="let detail of project.details"> 
        {{ detail }} 
      </li>
      <span *ngIf="project.skills">Technical Skills:</span>
      <li *ngFor="let skill of project.skills"> 
        {{ skill }} 
      </li>
      <span *ngIf="project.pictureURL">Pictures:</span>
      <div class="picture" *ngFor="let picture of project.pictureURL"> 
        
      </div>
      <span *ngIf="!project.videoURL">Video:</span>
      <app-video-player></app-video-player>
    </div>
  </mat-card>
</div>
