mat-card-title {
    text-align: left;
}

h3 {
    text-align: left;
    line-height: 50%;
    font-weight: bold;
}

p {
    text-align: left;
}

span {
    display: block;
}

.today-aim {
    margin-top: 25px;
}

.financio {
    margin-top: 25px;
}

.shifty {
    margin-top: 25px;
}

.newman-esports {
    margin-top: 25px;
}