mat-card-title {
    text-align: left;
    margin-bottom: 10px;
	font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

h3 {
    text-align: left;
	font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

p {
    text-align: left;
}

.links {
    text-align: left;
    font-size: xx-large;
    i {
        padding-right: 25px;
    }

	:hover {
		color: #A9A9A9
	}

	nav ul a {
		color: black;
		transition: all 0.5s ease;
		text-decoration: none;
	}

	nav ul {
		margin: 0;
		cursor: pointer;
		padding: 0;
		text-shadow: none;
	}
}

.profilePic {
	border: 2px solid black;
	border-radius: 50%;
	width: 20%;
	height: 20%;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	float: right;
	max-height: 500px;
	max-width: 500px;
}
