<mat-card-title>Contact</mat-card-title>
<img class="profilePic right" src="/assets/pics/me.jpg" alt="Alec Frey#"/>
<h3>Feel free to reach out to me using the following links:</h3>

<div class="links">
    <nav>
        <ul>
            <a href="https://www.linkedin.com/in/alec-frey"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://github.com/alecfrey"><i class="fab fa-github"></i></a>
            <a href="https://mail.google.com/mail/u/0/?fs=1&to=afrey@iastate.edu&tf=cm"><i class="fas fa-envelope"></i></a>
        </ul>
    </nav>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</div>
