mat-card-title {
    text-align: left;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

mat-card {
    text-align: left;
    padding-left: 15px;
    background-color: beige;
}

h3 {
    text-align: left;
    font-size: large;
    margin-top: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

h5 {
    font-size: medium;
    margin-top: 10px;
    margin-bottom: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

li {
    padding-left: 15px;
    padding-bottom: 5px;
}

.last {
    margin-bottom: 10px;
}

.employment {
    margin-top: 25px;
}