<mat-card-title>Employment</mat-card-title>
<div class="employment">
    <mat-card>
        <h3><b>Software Engineer Intern</b> - Nationwide Insurance</h3>
        <h5>Developed an Angular application for use by the Claims department which met these requirements:</h5>
        <li>Interact with web GUI to manage feature toggles across the entire Claims app suite</li>
        <li>Simplify releases through the use of toggling events rather than focusing on code pushes</li>
        <li>Notify department team about stale toggles that have remained unchanged for a month</li>
        <li>Frontend built using Nationwide’s Bolt design system alongside Angular Material</li>
        <li>Gain the benefits of continuous integration by achieving trunk-based development</li>
        <li>Reduce the number of development environments to align with the enterprise standard of 4</li>
        <li>Utilized Jira boards to streamline progress updates for technical leadership in daily scrum meetings</li>
        <h5>Trained in the following DevSecOps tools:</h5> 
        <li>Docker</li>
        <li>Kubernetes</li>
        <li>Helm</li>
        <li>Concourse</li>
        <li class="last">Harness</li>
    </mat-card>
</div>