<mat-sidenav-container autosize>
  <mat-sidenav mode="side" opened="isExpanded">
    <mat-nav-list>
      <h1>Alec Frey</h1>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/home" [routerLinkActive]="['is-active']">
          <mat-icon>home</mat-icon>
          <span>Home</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/employment" [routerLinkActive]="['is-active']">
          <mat-icon>work</mat-icon>
          <span>Employment</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/projects" [routerLinkActive]="['is-active']">
          <mat-icon>apps</mat-icon>
          <span>Projects</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/senior-design" [routerLinkActive]="['is-active']">
          <mat-icon>design_services</mat-icon>
          <span>Senior Design</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/reflections" [routerLinkActive]="['is-active']">
          <mat-icon>refresh</mat-icon>
          <span>Reflections</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/resume" [routerLinkActive]="['is-active']">
          <mat-icon>contact_page</mat-icon>
          <span>Resume</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/contact" [routerLinkActive]="['is-active']">
        <mat-icon>account_circle</mat-icon>
        <span>Contact</span>
      </mat-list-item> 
      <mat-divider></mat-divider>
      <div class="bottom">
        <mat-divider></mat-divider>


        <mat-list-item (click)="retractSidenav()">
            <mat-icon class="chevron_button" [ngClass]="{ rotated: isExpanded }">chevron_right</mat-icon>
            <span>Collapse</span>
        </mat-list-item> 



     



      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-card>
      <mat-card-content>
        <router-outlet></router-outlet>
      </mat-card-content>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
