.sidenav-container {
  height: 100%;
}

.sidenav .mat-toolbar {
  background: inherit;
}

mat-sidenav {
  height: 100vh;
  background-color: lightcoral;

  .chevron-button {
      transition: 300ms ease-in-out;
      transform: rotate(0deg);
  }

  .chevron-button-rotated {
      transform: rotate(180deg);
  }
}

mat-sidenav-content {
  height: 100vh;
  background-color: lightslategrey;
  color: whitesmoke;
}

mat-card {
  margin: 15px;
  text-align: center;
  color: black;
}

mat-list-item mat-icon {
  vertical-align: bottom;
  padding-right: 15px;
}

.is-active {
  background-color: whitesmoke;
}

h1 {
  text-align: center;
  padding-top: 25px;
  font-size: xx-large;
}

.bottom {
  position: absolute; 
  bottom: 0px;
  width: 100%;
  padding: 10px;

  button {
    background-color: lightcoral;
  }
}
