mat-sidenav {
    height: 100vh;
    width: 30vh;
    background-color: lightcoral;
}

mat-sidenav-content {
    height: 100vh;
    background-color: lightslategrey;
    color: whitesmoke;
}

mat-card {
    margin: 15px;
    text-align: center;
    color: black;
}

h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding-top: 25px;
    font-size: xx-large;
}


