h3 {
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: black;
}

mat-card {
    margin: 10px;
    color: black;
}

mat-card-title {
    text-align: left;
}